In [1]:
import pandas as pd
import numpy as np
from path import Path

import os,sys
parentdir = Path(os.path.abspath("../.."))
sys.path.insert(0,parentdir)

# Get the DB password
from config import db_password
from sqlalchemy import create_engine

## ETL - Extract Data

In [2]:
file_path = Path("../../data/raw/zillow_data/Metro_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv")
zillow_df = pd.read_csv(file_path)
zillow_df.tail()

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30
908,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,75111.0,75201.0,75383.0,75653.0,75994.0,76307.0,76649.0,77024.0,77402.0,78023.0
909,753874,930,"Craig, CO",Msa,CO,62724.0,62956.0,63201.0,63674.0,64007.0,...,193340.0,193311.0,193416.0,193563.0,193855.0,194122.0,194438.0,194789.0,195300.0,196391.0
910,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,130836.0,132049.0,132477.0,133049.0,133794.0,134180.0,133843.0,132563.0,130735.0,129120.0
911,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,68625.0,68486.0,68397.0,68391.0,68344.0,68351.0,68365.0,68428.0,68378.0,68398.0
912,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,335605.0,335697.0,335619.0,335818.0,336012.0,336521.0,337490.0,338531.0,339887.0,342084.0

## ETL - Transform Process
Keep only FL and CA data and then drop unnecessary columns

In [3]:
# Filter rows with state FL and CA only
state = ["FL", "CA"]
State_data = zillow_df[zillow_df.StateName.isin(state)]
State_data.dropna(axis=0,how="any",inplace=True)
State_data.tail()

<ipython-input-3-fe51f86406c0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  State_data.dropna(axis=0,how="any",inplace=True)

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30
486,394764,487,"Lake City, FL",Msa,FL,45672.0,45792.0,45880.0,46066.0,46177.0,...,154641.0,154559.0,154045.0,155173.0,156400.0,158777.0,160941.0,163649.0,165940.0,168342.0
692,394934,697,"Okeechobee, FL",Msa,FL,69526.0,69617.0,69672.0,69733.0,69789.0,...,155223.0,155701.0,156168.0,157001.0,157885.0,158973.0,159852.0,160721.0,161911.0,163637.0
700,394476,706,"Clewiston, FL",Msa,FL,56499.0,56366.0,56755.0,57363.0,58037.0,...,138211.0,138414.0,138844.0,139415.0,140086.0,140760.0,141111.0,141511.0,141870.0,142504.0
760,394335,768,"Arcadia, FL",Msa,FL,57251.0,57020.0,56950.0,56849.0,56822.0,...,138785.0,139386.0,140061.0,140882.0,141671.0,142542.0,143169.0,143859.0,144529.0,145303.0
824,395214,840,"Wauchula, FL",Msa,FL,45215.0,45279.0,45360.0,45470.0,45539.0,...,121255.0,121317.0,121751.0,122378.0,122977.0,123272.0,123431.0,123673.0,123999.0,124440.0

In [4]:
# Drop the unnecessary columns
State_dropped=State_data.drop(columns=["RegionID", "SizeRank", "RegionType"])
print(State_dropped.shape)
State_dropped.head()

(44, 301)

,RegionName,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30
2,"Los Angeles-Long Beach-Anaheim, CA",CA,191141.0,191440.0,191474.0,191619.0,191622.0,191688.0,191837.0,191827.0,...,709070.0,714579.0,719118.0,720922.0,722334.0,727109.0,734950.0,743382.0,751151.0,759102.0
8,"Miami-Fort Lauderdale, FL",FL,124246.0,124418.0,124592.0,124912.0,125191.0,125577.0,125957.0,126280.0,...,346810.0,348348.0,349901.0,351309.0,352852.0,354485.0,356769.0,359667.0,362636.0,365372.0
11,"San Francisco, CA",CA,259705.0,258850.0,258442.0,257712.0,257407.0,257160.0,256887.0,257024.0,...,1162711.0,1168399.0,1169437.0,1166479.0,1165046.0,1168747.0,1180394.0,1191064.0,1204039.0,1216247.0
13,"Riverside, CA",CA,123932.0,123436.0,123133.0,122476.0,121988.0,121534.0,121148.0,120976.0,...,394546.0,395908.0,398247.0,400392.0,402921.0,406261.0,410959.0,416363.0,421660.0,427588.0
17,"San Diego, CA",CA,190603.0,190273.0,190096.0,189722.0,189554.0,189430.0,189287.0,189061.0,...,640747.0,645400.0,648869.0,653353.0,656733.0,661360.0,668585.0,679153.0,691061.0,703181.0

In [5]:
## Convert the Date columns to rows
FL_CA_df = pd.melt(State_dropped, id_vars=["RegionName","StateName"], 
                  var_name="Date", value_name="Avg_Price")

In [6]:
FL_CA_df.set_index("RegionName")

                                   StateName        Date  Avg_Price
RegionName
Los Angeles-Long Beach-Anaheim, CA        CA  1996-01-31   191141.0
Miami-Fort Lauderdale, FL                 FL  1996-01-31   124246.0
San Francisco, CA                         CA  1996-01-31   259705.0
Riverside, CA                             CA  1996-01-31   123932.0
San Diego, CA                             CA  1996-01-31   190603.0
...                                      ...         ...        ...
Lake City, FL                             FL  2020-11-30   168342.0
Okeechobee, FL                            FL  2020-11-30   163637.0
Clewiston, FL                             FL  2020-11-30   142504.0
Arcadia, FL                               FL  2020-11-30   145303.0
Wauchula, FL                              FL  2020-11-30   124440.0

[13156 rows x 3 columns]

In [7]:
# Drop the Rows where any field is null or blank
FL_CA_df.dropna(axis=0)

                               RegionName StateName        Date  Avg_Price
0      Los Angeles-Long Beach-Anaheim, CA        CA  1996-01-31   191141.0
1               Miami-Fort Lauderdale, FL        FL  1996-01-31   124246.0
2                       San Francisco, CA        CA  1996-01-31   259705.0
3                           Riverside, CA        CA  1996-01-31   123932.0
4                           San Diego, CA        CA  1996-01-31   190603.0
...                                   ...       ...         ...        ...
13151                       Lake City, FL        FL  2020-11-30   168342.0
13152                      Okeechobee, FL        FL  2020-11-30   163637.0
13153                       Clewiston, FL        FL  2020-11-30   142504.0
13154                         Arcadia, FL        FL  2020-11-30   145303.0
13155                        Wauchula, FL        FL  2020-11-30   124440.0

[13156 rows x 4 columns]

In [8]:
# Convert the date field to Datetime field
FL_CA_df["Date"] = pd.to_datetime(FL_CA_df["Date"])
FL_CA_df.head()

                           RegionName StateName       Date  Avg_Price
0  Los Angeles-Long Beach-Anaheim, CA        CA 1996-01-31   191141.0
1           Miami-Fort Lauderdale, FL        FL 1996-01-31   124246.0
2                   San Francisco, CA        CA 1996-01-31   259705.0
3                       Riverside, CA        CA 1996-01-31   123932.0
4                       San Diego, CA        CA 1996-01-31   190603.0

In [9]:
# Remove State from the RegionName
FL_CA_df['RegionName'] = FL_CA_df.apply(lambda x:x['RegionName'][:-4], axis=1)
FL_CA_df['RegionName']

0        Los Angeles-Long Beach-Anaheim
1                 Miami-Fort Lauderdale
2                         San Francisco
3                             Riverside
4                             San Diego
                      ...
13151                         Lake City
13152                        Okeechobee
13153                         Clewiston
13154                           Arcadia
13155                          Wauchula
Name: RegionName, Length: 13156, dtype: object

In [10]:
FL_CA_df["Avg_Price"].dtype
FL_CA_df['Avg_Price'] = FL_CA_df['Avg_Price'].astype('Int64')
FL_CA_df.tail()

       RegionName StateName       Date  Avg_Price
13151   Lake City        FL 2020-11-30     168342
13152  Okeechobee        FL 2020-11-30     163637
13153   Clewiston        FL 2020-11-30     142504
13154     Arcadia        FL 2020-11-30     145303
13155    Wauchula        FL 2020-11-30     124440

In [13]:
FL_CA_df.rename(columns={"RegionName":"region_name","StateName":"state_name","Date":"date","Avg_Price":"avg_price"},inplace=True)
FL_CA_df

                          region_name state_name       date  avg_price
0      Los Angeles-Long Beach-Anaheim         CA 1996-01-31     191141
1               Miami-Fort Lauderdale         FL 1996-01-31     124246
2                       San Francisco         CA 1996-01-31     259705
3                           Riverside         CA 1996-01-31     123932
4                           San Diego         CA 1996-01-31     190603
...                               ...        ...        ...        ...
13151                       Lake City         FL 2020-11-30     168342
13152                      Okeechobee         FL 2020-11-30     163637
13153                       Clewiston         FL 2020-11-30     142504
13154                         Arcadia         FL 2020-11-30     145303
13155                        Wauchula         FL 2020-11-30     124440

[13156 rows x 4 columns]

## ETL - Load data 
write the processed data to CSV as well as load the data to POSTGRES data base

In [14]:
#Export the data to CSV
file_path_export=Path("../../data/processed/Housing_cleaned2.csv")
FL_CA_df.to_csv(file_path_export,index=False)

In [16]:
# Load the table to database
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/covid_property_pandemic"
engine = create_engine(db_string)
FL_CA_df.to_sql(name='housing_cleaned_data', con=engine, if_exists='replace')