In [1]:
import pandas as pd
import numpy as np
from path import Path

## ETL - Extract Data

In [2]:
# Read the raw zillow data file
file_path = Path("../../data/raw/zillow_data/Metro_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv")
zillow_df = pd.read_csv(file_path)
zillow_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30
0,102001,0,United States,Country,NaN,106814.0,106846.0,106901.0,107037.0,107189.0,...,246410.0,247553.0,248800.0,250022.0,251316.0,252886.0,254893.0,257237.0,259822.0,262640.0
1,394913,1,"New York, NY",Msa,NY,191158.0,190712.0,190429.0,189882.0,189548.0,...,480042.0,481258.0,482745.0,484453.0,486552.0,489465.0,493256.0,498252.0,503868.0,510076.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,191141.0,191440.0,191474.0,191619.0,191622.0,...,709070.0,714579.0,719118.0,720922.0,722334.0,727109.0,734950.0,743382.0,751151.0,759102.0
3,394463,3,"Chicago, IL",Msa,IL,166394.0,166085.0,165676.0,165208.0,164584.0,...,248644.0,249211.0,249712.0,250274.0,250980.0,252217.0,253881.0,256122.0,258639.0,261177.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,111804.0,111874.0,112034.0,112350.0,112689.0,...,254939.0,255925.0,257062.0,258206.0,259566.0,261160.0,262996.0,264892.0,267360.0,269887.0

## ETL - Transform Process
Keep only FL and CA data and then drop unnecessary columns

In [3]:
# Filter rows with state FL and CA only
state = ["FL", "CA"]
State_data = zillow_df[zillow_df.StateName.isin(state)]
State_data.dropna(axis=0,how="any",inplace=True)
State_data.head()

C:\Users\URSUSLT076\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,191141.0,191440.0,191474.0,191619.0,191622.0,...,709070.0,714579.0,719118.0,720922.0,722334.0,727109.0,734950.0,743382.0,751151.0,759102.0
8,394856,8,"Miami-Fort Lauderdale, FL",Msa,FL,124246.0,124418.0,124592.0,124912.0,125191.0,...,346810.0,348348.0,349901.0,351309.0,352852.0,354485.0,356769.0,359667.0,362636.0,365372.0
11,395057,11,"San Francisco, CA",Msa,CA,259705.0,258850.0,258442.0,257712.0,257407.0,...,1162711.0,1168399.0,1169437.0,1166479.0,1165046.0,1168747.0,1180394.0,1191064.0,1204039.0,1216247.0
13,395025,13,"Riverside, CA",Msa,CA,123932.0,123436.0,123133.0,122476.0,121988.0,...,394546.0,395908.0,398247.0,400392.0,402921.0,406261.0,410959.0,416363.0,421660.0,427588.0
17,395056,17,"San Diego, CA",Msa,CA,190603.0,190273.0,190096.0,189722.0,189554.0,...,640747.0,645400.0,648869.0,653353.0,656733.0,661360.0,668585.0,679153.0,691061.0,703181.0

In [4]:
# Drop the unnecessary columns
State_dropped=State_data.drop(columns=["RegionID", "SizeRank", "RegionType"])
print(State_dropped.shape)
State_dropped.head()

(44, 301)

,RegionName,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30
2,"Los Angeles-Long Beach-Anaheim, CA",CA,191141.0,191440.0,191474.0,191619.0,191622.0,191688.0,191837.0,191827.0,...,709070.0,714579.0,719118.0,720922.0,722334.0,727109.0,734950.0,743382.0,751151.0,759102.0
8,"Miami-Fort Lauderdale, FL",FL,124246.0,124418.0,124592.0,124912.0,125191.0,125577.0,125957.0,126280.0,...,346810.0,348348.0,349901.0,351309.0,352852.0,354485.0,356769.0,359667.0,362636.0,365372.0
11,"San Francisco, CA",CA,259705.0,258850.0,258442.0,257712.0,257407.0,257160.0,256887.0,257024.0,...,1162711.0,1168399.0,1169437.0,1166479.0,1165046.0,1168747.0,1180394.0,1191064.0,1204039.0,1216247.0
13,"Riverside, CA",CA,123932.0,123436.0,123133.0,122476.0,121988.0,121534.0,121148.0,120976.0,...,394546.0,395908.0,398247.0,400392.0,402921.0,406261.0,410959.0,416363.0,421660.0,427588.0
17,"San Diego, CA",CA,190603.0,190273.0,190096.0,189722.0,189554.0,189430.0,189287.0,189061.0,...,640747.0,645400.0,648869.0,653353.0,656733.0,661360.0,668585.0,679153.0,691061.0,703181.0

In [5]:
## Convert the Date columns to rows
FL_CA_df = pd.melt(State_dropped, id_vars=["RegionName","StateName"], 
                  var_name="Date", value_name="Avg_Price")

In [6]:
FL_CA_df.set_index("RegionName")

                                   StateName        Date  Avg_Price
RegionName
Los Angeles-Long Beach-Anaheim, CA        CA  1996-01-31   191141.0
Miami-Fort Lauderdale, FL                 FL  1996-01-31   124246.0
San Francisco, CA                         CA  1996-01-31   259705.0
Riverside, CA                             CA  1996-01-31   123932.0
San Diego, CA                             CA  1996-01-31   190603.0
...                                      ...         ...        ...
Lake City, FL                             FL  2020-11-30   168342.0
Okeechobee, FL                            FL  2020-11-30   163637.0
Clewiston, FL                             FL  2020-11-30   142504.0
Arcadia, FL                               FL  2020-11-30   145303.0
Wauchula, FL                              FL  2020-11-30   124440.0

[13156 rows x 3 columns]

In [7]:
# Drop the Rows where any field is null or blank
FL_CA_df.dropna(axis=0)

                               RegionName StateName        Date  Avg_Price
0      Los Angeles-Long Beach-Anaheim, CA        CA  1996-01-31   191141.0
1               Miami-Fort Lauderdale, FL        FL  1996-01-31   124246.0
2                       San Francisco, CA        CA  1996-01-31   259705.0
3                           Riverside, CA        CA  1996-01-31   123932.0
4                           San Diego, CA        CA  1996-01-31   190603.0
...                                   ...       ...         ...        ...
13151                       Lake City, FL        FL  2020-11-30   168342.0
13152                      Okeechobee, FL        FL  2020-11-30   163637.0
13153                       Clewiston, FL        FL  2020-11-30   142504.0
13154                         Arcadia, FL        FL  2020-11-30   145303.0
13155                        Wauchula, FL        FL  2020-11-30   124440.0

[13156 rows x 4 columns]

In [8]:
# Convert the date field to Datetime field
FL_CA_df["Date"] = pd.to_datetime(FL_CA_df["Date"])
FL_CA_df.head()

                           RegionName StateName       Date  Avg_Price
0  Los Angeles-Long Beach-Anaheim, CA        CA 1996-01-31   191141.0
1           Miami-Fort Lauderdale, FL        FL 1996-01-31   124246.0
2                   San Francisco, CA        CA 1996-01-31   259705.0
3                       Riverside, CA        CA 1996-01-31   123932.0
4                       San Diego, CA        CA 1996-01-31   190603.0

In [9]:
# Remove State from the RegionName
FL_CA_df['RegionName'] = FL_CA_df.apply(lambda x:x['RegionName'][:-4], axis=1)
FL_CA_df['RegionName']

0        Los Angeles-Long Beach-Anaheim
1                 Miami-Fort Lauderdale
2                         San Francisco
3                             Riverside
4                             San Diego
                      ...
13151                         Lake City
13152                        Okeechobee
13153                         Clewiston
13154                           Arcadia
13155                          Wauchula
Name: RegionName, Length: 13156, dtype: object

In [10]:
# Ensure Avg_Price field is of type integer 
FL_CA_df["Avg_Price"].dtype
FL_CA_df['Avg_Price'] = FL_CA_df['Avg_Price'].astype('Int64')
FL_CA_df.head()

                       RegionName StateName       Date  Avg_Price
0  Los Angeles-Long Beach-Anaheim        CA 1996-01-31     191141
1           Miami-Fort Lauderdale        FL 1996-01-31     124246
2                   San Francisco        CA 1996-01-31     259705
3                       Riverside        CA 1996-01-31     123932
4                       San Diego        CA 1996-01-31     190603

## ETL - Load data 
write the processed data to CSV as well as load the data to POSTGRES data base

In [11]:
#Export the data to CSV
file_path_export=Path("../../data/processed/Housing_cleaned2.csv")
FL_CA_df.to_csv(file_path_export,index=False)

In [12]:
import os,sys
parentdir = Path(os.path.abspath("../.."))
sys.path.insert(0,parentdir)

# Get the DB password
from config import db_password

from sqlalchemy import create_engine
import psycopg2
# import the psycopg2 database adapter for PostgreSQL
from psycopg2 import connect, extensions, sql

from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [13]:
## RUN THIS BLOCK OF CODE IF YOU HAVE NOT CREATED THE 'covid_propert_pandemic' DATABASE.
## IF YOU HAVE ALREADY CREATED THE DATABASE, SKIP TO THE NEXT CELL.

# First Create a Database

# declare a new PostgreSQL connection object
conn = connect(
user = "postgres",
host = "localhost",
password = db_password
)

# object type: psycopg2.extensions.connection
print ("\ntype(conn):", type(conn))

# string for the new database name to be created
DB_NAME = "covid_property_pandemic"

# get the isolation leve for autocommit
autocommit = extensions.ISOLATION_LEVEL_AUTOCOMMIT
print ("ISOLATION_LEVEL_AUTOCOMMIT:", extensions.ISOLATION_LEVEL_AUTOCOMMIT)

"""
ISOLATION LEVELS for psycopg2
0 = READ UNCOMMITTED
1 = READ COMMITTED
2 = REPEATABLE READ
3 = SERIALIZABLE
4 = DEFAULT
"""

# set the isolation level for the connection's cursors
# will raise ActiveSqlTransaction exception otherwise
conn.set_isolation_level( autocommit )

# instantiate a cursor object from the connection
cursor = conn.cursor()

# use the execute() method to make a SQL request
#cursor.execute('CREATE DATABASE ' + str(DB_NAME))

# use the sql module instead to avoid SQL injection attacks
####### cursor.execute(f'DROP DATABASE IF EXISTS {DB_NAME}') - Don't use.

cursor.execute(sql.SQL(
"CREATE DATABASE {}"
).format(sql.Identifier( DB_NAME )))

# close the cursor to avoid memory leaks
cursor.close()

# close the connection to avoid memory leaks
conn.close()

type(conn): <class 'psycopg2.extensions.connection'>
ISOLATION_LEVEL_AUTOCOMMIT: 0

In [14]:
# Add data to table
import time
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/covid_property_pandemic"
engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv("../../data/processed/Housing_cleaned2.csv", chunksize=15000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='FL_CA_Housing_Data', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 13156...Done. 2.948019027709961 total seconds elapsed