In [1]:
import pandas as pd
import numpy as np
from path import Path

## ETL - Extract Data

In [2]:
# Read the raw zillow data file
file_path = Path("../../data/raw/zillow_data/Zillow Data.csv")
zillow_df = pd.read_csv(file_path)
zillow_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
0,102001,0,United States,Country,NaN,1425322.0,1383102.0,1440330.0,1527160.0,1628568.0,...,1441202.0,1389643.0,1412438.0,1396358.0,1413202.0,1406513.0,1423990.0,1386004.0,1331526.0,1268153.0
1,394913,1,"New York, NY",Msa,NY,68126.0,67665.0,72156.0,78997.0,84989.0,...,74641.0,72233.0,74308.0,71806.0,69870.0,69325.0,75236.0,78900.0,80018.0,78675.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,20196.0,20014.0,21984.0,23925.0,25911.0,...,22413.0,21343.0,21883.0,21554.0,21966.0,22935.0,24941.0,25829.0,26085.0,25849.0
3,394463,3,"Chicago, IL",Msa,IL,37649.0,36221.0,39409.0,43350.0,47224.0,...,41251.0,40043.0,41614.0,41500.0,41826.0,42279.0,44447.0,44913.0,44048.0,42661.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,24330.0,23255.0,24398.0,26804.0,29591.0,...,32406.0,31480.0,32127.0,32200.0,33110.0,33587.0,34400.0,33161.0,31061.0,28712.0

## ETL - Transform Process
Keep only FL and CA data and then drop unnecessary columns

In [5]:
# Filter rows with state FL and CA only
state = ["FL", "CA"]
State_data = zillow_df[zillow_df.StateName.isin(state)]
State_data.dropna(axis=0,how="any",inplace=True)
State_data.head()

<ipython-input-5-ceff059fa032>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  State_data.dropna(axis=0,how="any",inplace=True)

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,20196.0,20014.0,21984.0,23925.0,25911.0,...,22413.0,21343.0,21883.0,21554.0,21966.0,22935.0,24941.0,25829.0,26085.0,25849.0
8,394856,8,"Miami-Fort Lauderdale, FL",Msa,FL,54091.0,55557.0,58297.0,59419.0,59801.0,...,55650.0,56283.0,57095.0,55131.0,53889.0,53082.0,53383.0,52346.0,50946.0,49956.0
11,395057,11,"San Francisco, CA",Msa,CA,4546.0,4362.0,5338.0,6428.0,7463.0,...,5650.0,5277.0,5819.0,6040.0,6581.0,7380.0,8677.0,9266.0,9640.0,9941.0
13,395025,13,"Riverside, CA",Msa,CA,17566.0,17672.0,18644.0,19500.0,20318.0,...,18070.0,17442.0,17389.0,16667.0,16397.0,15967.0,15640.0,14764.0,14024.0,13734.0
17,395056,17,"San Diego, CA",Msa,CA,6665.0,6629.0,7377.0,8194.0,9027.0,...,7487.0,7165.0,7425.0,7397.0,7627.0,7740.0,8064.0,7998.0,7827.0,7635.0

In [6]:
# Drop the unnecessary columns
State_dropped=State_data.drop(columns=["RegionID", "SizeRank", "RegionType"])
print(State_dropped.shape)
State_dropped.head()

(18, 36)

,RegionName,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
2,"Los Angeles-Long Beach-Anaheim, CA",CA,20196.0,20014.0,21984.0,23925.0,25911.0,27514.0,29219.0,30292.0,...,22413.0,21343.0,21883.0,21554.0,21966.0,22935.0,24941.0,25829.0,26085.0,25849.0
8,"Miami-Fort Lauderdale, FL",FL,54091.0,55557.0,58297.0,59419.0,59801.0,58397.0,57117.0,56118.0,...,55650.0,56283.0,57095.0,55131.0,53889.0,53082.0,53383.0,52346.0,50946.0,49956.0
11,"San Francisco, CA",CA,4546.0,4362.0,5338.0,6428.0,7463.0,8032.0,8317.0,8316.0,...,5650.0,5277.0,5819.0,6040.0,6581.0,7380.0,8677.0,9266.0,9640.0,9941.0
13,"Riverside, CA",CA,17566.0,17672.0,18644.0,19500.0,20318.0,20970.0,21634.0,21957.0,...,18070.0,17442.0,17389.0,16667.0,16397.0,15967.0,15640.0,14764.0,14024.0,13734.0
17,"San Diego, CA",CA,6665.0,6629.0,7377.0,8194.0,9027.0,9606.0,10189.0,10640.0,...,7487.0,7165.0,7425.0,7397.0,7627.0,7740.0,8064.0,7998.0,7827.0,7635.0

In [8]:
## Convert the Date columns to rows
FL_CA_df = pd.melt(State_dropped, id_vars=["RegionName","StateName"], 
                  var_name="Date", value_name="Avg_Price")

In [9]:
FL_CA_df.set_index("RegionName")

                                   StateName        Date  Avg_Price
RegionName
Los Angeles-Long Beach-Anaheim, CA        CA  2018-01-31    20196.0
Miami-Fort Lauderdale, FL                 FL  2018-01-31    54091.0
San Francisco, CA                         CA  2018-01-31     4546.0
Riverside, CA                             CA  2018-01-31    17566.0
San Diego, CA                             CA  2018-01-31     6665.0
...                                      ...         ...        ...
North Port-Sarasota-Bradenton, FL         FL  2020-10-31     7112.0
Stockton, CA                              CA  2020-10-31     1323.0
Fort Myers, FL                            FL  2020-10-31     7886.0
Lakeland, FL                              FL  2020-10-31     3377.0
Daytona Beach, FL                         FL  2020-10-31     4832.0

[612 rows x 3 columns]

In [10]:
# Drop the Rows where any field is null or blank
FL_CA_df.dropna(axis=0)

                             RegionName StateName        Date  Avg_Price
0    Los Angeles-Long Beach-Anaheim, CA        CA  2018-01-31    20196.0
1             Miami-Fort Lauderdale, FL        FL  2018-01-31    54091.0
2                     San Francisco, CA        CA  2018-01-31     4546.0
3                         Riverside, CA        CA  2018-01-31    17566.0
4                         San Diego, CA        CA  2018-01-31     6665.0
..                                  ...       ...         ...        ...
607   North Port-Sarasota-Bradenton, FL        FL  2020-10-31     7112.0
608                        Stockton, CA        CA  2020-10-31     1323.0
609                      Fort Myers, FL        FL  2020-10-31     7886.0
610                        Lakeland, FL        FL  2020-10-31     3377.0
611                   Daytona Beach, FL        FL  2020-10-31     4832.0

[612 rows x 4 columns]

In [11]:
# Convert the date field to Datetime field
FL_CA_df["Date"] = pd.to_datetime(FL_CA_df["Date"])
FL_CA_df.head()

                           RegionName StateName       Date  Avg_Price
0  Los Angeles-Long Beach-Anaheim, CA        CA 2018-01-31    20196.0
1           Miami-Fort Lauderdale, FL        FL 2018-01-31    54091.0
2                   San Francisco, CA        CA 2018-01-31     4546.0
3                       Riverside, CA        CA 2018-01-31    17566.0
4                       San Diego, CA        CA 2018-01-31     6665.0

In [12]:
# Ensure Avg_Price field is of type integer 
FL_CA_df["Avg_Price"].dtype
FL_CA_df['Avg_Price'] = FL_CA_df['Avg_Price'].astype('Int64')
FL_CA_df.head()

                           RegionName StateName       Date  Avg_Price
0  Los Angeles-Long Beach-Anaheim, CA        CA 2018-01-31      20196
1           Miami-Fort Lauderdale, FL        FL 2018-01-31      54091
2                   San Francisco, CA        CA 2018-01-31       4546
3                       Riverside, CA        CA 2018-01-31      17566
4                       San Diego, CA        CA 2018-01-31       6665

## ETL - Load data 
write the processed data to CSV as well as load the data to POSTGRES data base

In [13]:
#Export the data to CSV
file_path_export=Path("../../data/processed/Housing_cleaned.csv")
FL_CA_df.to_csv(file_path_export,index=False)

In [14]:
import os,sys
parentdir = Path(os.path.abspath("../.."))
sys.path.insert(0,parentdir)

# Get the DB password
from config import db_password

from sqlalchemy import create_engine
import psycopg2
# import the psycopg2 database adapter for PostgreSQL
from psycopg2 import connect, extensions, sql

from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [14]:
## RUN THIS BLOCK OF CODE IF YOU HAVE NOT CREATED THE 'covid_propert_pandemic' DATABASE.
## IF YOU HAVE ALREADY CREATED THE DATABASE, SKIP TO THE NEXT CELL.

# First Create a Database

# declare a new PostgreSQL connection object
conn = connect(
user = "postgres",
host = "localhost",
password = db_password
)

# object type: psycopg2.extensions.connection
print ("\ntype(conn):", type(conn))

# string for the new database name to be created
DB_NAME = "covid_property_pandemic"

# get the isolation leve for autocommit
autocommit = extensions.ISOLATION_LEVEL_AUTOCOMMIT
print ("ISOLATION_LEVEL_AUTOCOMMIT:", extensions.ISOLATION_LEVEL_AUTOCOMMIT)

"""
ISOLATION LEVELS for psycopg2
0 = READ UNCOMMITTED
1 = READ COMMITTED
2 = REPEATABLE READ
3 = SERIALIZABLE
4 = DEFAULT
"""

# set the isolation level for the connection's cursors
# will raise ActiveSqlTransaction exception otherwise
conn.set_isolation_level( autocommit )

# instantiate a cursor object from the connection
cursor = conn.cursor()

# use the execute() method to make a SQL request
#cursor.execute('CREATE DATABASE ' + str(DB_NAME))

# use the sql module instead to avoid SQL injection attacks
####### cursor.execute(f'DROP DATABASE IF EXISTS {DB_NAME}') - Don't use.

cursor.execute(sql.SQL(
"CREATE DATABASE {}"
).format(sql.Identifier( DB_NAME )))

# close the cursor to avoid memory leaks
cursor.close()

# close the connection to avoid memory leaks
conn.close()

type(conn): <class 'psycopg2.extensions.connection'>
ISOLATION_LEVEL_AUTOCOMMIT: 0

In [15]:
# Add data to table
import time
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/covid_property_pandemic"
engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv("../../data/processed/Housing_cleaned.csv", chunksize=15000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='FL_CA_Housing_Data', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 612...Done. 0.1512131690979004 total seconds elapsed