In [1]:
import pandas as pd
import numpy as np
from path import Path

## ETL - Extract Data

In [17]:
# Read the raw zillow data file
file_path = Path("../../data/raw/zillow_data/City_Zhvi_SingleFamilyResidence.csv")
zillow_df = pd.read_csv(file_path)
zillow_df.tail()

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
27321,27321,52758,29449,Kerens,City,WV,WV,Elkins,Randolph County,NaN,...,72381.0,72048.0,72143.0,72911.0,73935.0,74741.0,75434.0,75870.0,76213.0,76088.0
27322,27322,234408,29449,Jolly,City,TX,TX,Wichita Falls,Clay County,NaN,...,150055.0,151461.0,152735.0,153508.0,153943.0,154118.0,154149.0,154074.0,154230.0,154531.0
27323,27323,16604,29449,May,City,OK,OK,NaN,Harper County,NaN,...,76220.0,76414.0,76420.0,76418.0,76585.0,76929.0,77269.0,77342.0,77353.0,77285.0
27324,27324,44752,29449,Coppock,City,IA,IA,NaN,Henry County,NaN,...,45625.0,45789.0,46259.0,46827.0,47660.0,48013.0,48527.0,48831.0,49330.0,49333.0
27325,27325,11693,30967,Great Lakes,City,IL,IL,Chicago-Naperville-Elgin,Cook County,NaN,...,271650.0,273526.0,274323.0,272796.0,271816.0,270831.0,268766.0,267146.0,265311.0,261863.0

## ETL - Transform Process
Keep only FL and CA data and then drop unnecessary columns

In [16]:
# Filter rows with state FL and CA only
state = ["FL", "CA"]
State_data = zillow_df[zillow_df.State.isin(state)]
State_data.dropna(axis=0,how="any",inplace=True)
State_data.tail()

/Users/RyanSil22/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
26306,26306,28558,29449,Homeland,City,FL,FL,Lakeland-Winter Haven,Polk County,66277.0,...,120109.0,120610.0,120651.0,120585.0,121931.0,123206.0,124819.0,125352.0,126860.0,128242.0
26412,26412,53692,29449,Okahumpka,City,FL,FL,Orlando-Kissimmee-Sanford,Lake County,35505.0,...,83722.0,84463.0,84479.0,84278.0,84896.0,86399.0,88213.0,89742.0,91383.0,93233.0
26705,26705,124733,29449,Hillcrest Heights,City,FL,FL,Lakeland-Winter Haven,Polk County,93020.0,...,173799.0,173932.0,173789.0,173311.0,173372.0,174175.0,175393.0,176769.0,178899.0,180944.0
26825,26825,28637,29449,Everglades,City,FL,FL,Naples-Immokalee-Marco Island,Collier County,116058.0,...,258859.0,261562.0,265371.0,267007.0,266294.0,264685.0,264692.0,264229.0,264137.0,264616.0
26884,26884,23709,29449,Biola,City,CA,CA,Fresno,Fresno County,68416.0,...,175682.0,176276.0,178029.0,179301.0,180583.0,181292.0,181407.0,181796.0,181889.0,183800.0

In [4]:
# Drop the unnecessary columns
State_dropped=State_data.drop(columns=["Unnamed: 0", "RegionID", "SizeRank", "RegionType", "StateName"])
State_dropped.head()

,RegionName,State,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,192855.0,192899.0,192974.0,193133.0,193265.0,193453.0,...,745290.0,746729.0,748924.0,751756.0,755716.0,759279.0,764877.0,770853.0,779717.0,788751.0
8,San Diego,CA,San Diego-Carlsbad,San Diego County,214715.0,214359.0,214117.0,213632.0,213343.0,213140.0,...,709024.0,711846.0,714119.0,716734.0,718446.0,722025.0,726601.0,733084.0,738722.0,745231.0
11,San Jose,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,232040.0,231403.0,231196.0,230868.0,230976.0,231234.0,...,1085372.0,1076216.0,1074787.0,1079039.0,1083387.0,1088611.0,1097565.0,1113006.0,1128436.0,1145150.0
12,Jacksonville,FL,Jacksonville,Duval County,85992.0,86107.0,86225.0,86436.0,86621.0,86815.0,...,191089.0,191476.0,192127.0,192753.0,193752.0,194465.0,195560.0,197045.0,199119.0,201483.0
14,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,299060.0,298066.0,297387.0,296175.0,295267.0,294811.0,...,1463199.0,1464488.0,1462393.0,1467249.0,1473085.0,1482111.0,1495964.0,1504169.0,1512624.0,1515959.0

In [5]:
## Convert the Date columns to rows
FL_CA_df = pd.melt(State_dropped, id_vars=["RegionName","State","Metro","CountyName"], 
                  var_name="Date", value_name="Avg_Price")

In [6]:
FL_CA_df.set_index("RegionName")

,State,Metro,CountyName,Date,Avg_Price
RegionName,,,,,
Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,1996-01-31,192855.0
San Diego,CA,San Diego-Carlsbad,San Diego County,1996-01-31,214715.0
San Jose,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,1996-01-31,232040.0
Jacksonville,FL,Jacksonville,Duval County,1996-01-31,85992.0
San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,1996-01-31,299060.0
...,...,...,...,...,...
Homeland,FL,Lakeland-Winter Haven,Polk County,2020-03-31,128242.0
Okahumpka,FL,Orlando-Kissimmee-Sanford,Lake County,2020-03-31,93233.0
Hillcrest Heights,FL,Lakeland-Winter Haven,Polk County,2020-03-31,180944.0
Everglades,FL,Naples-Immokalee-Marco Island,Collier County,2020-03-31,264616.0
Biola,CA,Fresno,Fresno County,2020-03-31,183800.0

In [7]:
# Drop the Rows where any field is null or blank
FL_CA_df.dropna(axis=0)

,RegionName,State,Metro,CountyName,Date,Avg_Price
0,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,1996-01-31,192855.0
1,San Diego,CA,San Diego-Carlsbad,San Diego County,1996-01-31,214715.0
2,San Jose,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,1996-01-31,232040.0
3,Jacksonville,FL,Jacksonville,Duval County,1996-01-31,85992.0
4,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,1996-01-31,299060.0
...,...,...,...,...,...,...
328243,Homeland,FL,Lakeland-Winter Haven,Polk County,2020-03-31,128242.0
328244,Okahumpka,FL,Orlando-Kissimmee-Sanford,Lake County,2020-03-31,93233.0
328245,Hillcrest Heights,FL,Lakeland-Winter Haven,Polk County,2020-03-31,180944.0
328246,Everglades,FL,Naples-Immokalee-Marco Island,Collier County,2020-03-31,264616.0
328247,Biola,CA,Fresno,Fresno County,2020-03-31,183800.0

In [8]:
# Convert the date field to Datetime field
FL_CA_df["Date"] = pd.to_datetime(FL_CA_df["Date"])
FL_CA_df.head()

,RegionName,State,Metro,CountyName,Date,Avg_Price
0,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,1996-01-31,192855.0
1,San Diego,CA,San Diego-Carlsbad,San Diego County,1996-01-31,214715.0
2,San Jose,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,1996-01-31,232040.0
3,Jacksonville,FL,Jacksonville,Duval County,1996-01-31,85992.0
4,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,1996-01-31,299060.0

In [15]:
# Ensure Avg_Price field is of type integer 
FL_CA_df["Avg_Price"].dtype
FL_CA_df['Avg_Price'] = FL_CA_df['Avg_Price'].astype('Int64')
FL_CA_df.tail()

,RegionName,State,Metro,CountyName,Date,Avg_Price
328243,Homeland,FL,Lakeland-Winter Haven,Polk County,2020-03-31,128242
328244,Okahumpka,FL,Orlando-Kissimmee-Sanford,Lake County,2020-03-31,93233
328245,Hillcrest Heights,FL,Lakeland-Winter Haven,Polk County,2020-03-31,180944
328246,Everglades,FL,Naples-Immokalee-Marco Island,Collier County,2020-03-31,264616
328247,Biola,CA,Fresno,Fresno County,2020-03-31,183800

## ETL - Load data 
write the processed data to CSV as well as load the data to POSTGRES data base

In [10]:
#Export the data to CSV
file_path_export=Path("../../data/processed/Housing_cleaned.csv")
FL_CA_df.to_csv(file_path_export)

In [11]:
import os,sys
parentdir = Path(os.path.abspath("../.."))
sys.path.insert(0,parentdir)

# Get the DB password
from config import db_password

from sqlalchemy import create_engine
import psycopg2
# import the psycopg2 database adapter for PostgreSQL
from psycopg2 import connect, extensions, sql

from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [ ]:
## RUN THIS BLOCK OF CODE IF YOU HAVE NOT CREATED THE 'covid_propert_pandemic' DATABASE.
## IF YOU HAVE ALREADY CREATED THE DATABASE, SKIP TO THE NEXT CELL.

# First Create a Database

# declare a new PostgreSQL connection object
conn = connect(
user = "postgres",
host = "localhost",
password = db_password
)

# object type: psycopg2.extensions.connection
print ("\ntype(conn):", type(conn))

# string for the new database name to be created
DB_NAME = "covid_property_pandemic"

# get the isolation leve for autocommit
autocommit = extensions.ISOLATION_LEVEL_AUTOCOMMIT
print ("ISOLATION_LEVEL_AUTOCOMMIT:", extensions.ISOLATION_LEVEL_AUTOCOMMIT)

"""
ISOLATION LEVELS for psycopg2
0 = READ UNCOMMITTED
1 = READ COMMITTED
2 = REPEATABLE READ
3 = SERIALIZABLE
4 = DEFAULT
"""

# set the isolation level for the connection's cursors
# will raise ActiveSqlTransaction exception otherwise
conn.set_isolation_level( autocommit )

# instantiate a cursor object from the connection
cursor = conn.cursor()

# use the execute() method to make a SQL request
#cursor.execute('CREATE DATABASE ' + str(DB_NAME))

# use the sql module instead to avoid SQL injection attacks
####### cursor.execute(f'DROP DATABASE IF EXISTS {DB_NAME}') - Don't use.

cursor.execute(sql.SQL(
"CREATE DATABASE {}"
).format(sql.Identifier( DB_NAME )))

# close the cursor to avoid memory leaks
cursor.close()

# close the connection to avoid memory leaks
conn.close()

In [ ]:
# Add data to table
import time
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/covid_property_pandemic"
engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv("../../data/processed/Housing_cleaned.csv", chunksize=15000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='FL_CA_Housing_Data', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')