In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("Difference_by_Month.csv") 
df.head()

,Province_State,County,Combined_Key,Total Jan-20,Total Feb-20,Diff in Jan-Feb,Total Mar-20,Diff in Feb-Mar,Total Apr-20,Diff in Mar-Apr,...,Diff in Jun-Jul,Total Aug-20,Diff in Jul-Aug,Total Sep-20,Diff in Aug-Sep,Total Oct-20,Diff in Sep-Oct,Total Nov-20,Diff in Oct-Nov,Total Dec-20
0,California,Alameda,"Alameda, California, US",0,0,0,2224,2224,31967,29743,...,131197,464235,196693,603302,139067,699352,96050,790272,90920,220615
1,California,Alpine,"Alpine, California, US",0,0,0,0,0,48,48,...,2,62,0,60,0,99,39,965,866,382
2,California,Amador,"Amador, California, US",0,0,0,19,19,198,179,...,1269,6610,4934,8579,1969,9679,1100,12723,3044,5804
3,California,Butte,"Butte, California, US",0,0,0,42,42,466,424,...,12954,43338,27578,78062,34724,92980,14918,104902,11922,30291
4,California,Calaveras,"Calaveras, California, US",0,0,0,48,48,321,273,...,1705,5407,2960,8840,3433,10352,1512,12110,1758,3944

In [9]:
fl_df = df.loc[df["Province_State"]=="Florida"]
fl_df

,Province_State,County,Combined_Key,Total Jan-20,Total Feb-20,Diff in Jan-Feb,Total Mar-20,Diff in Feb-Mar,Total Apr-20,Diff in Mar-Apr,...,Diff in Jun-Jul,Total Aug-20,Diff in Jul-Aug,Total Sep-20,Diff in Aug-Sep,Total Oct-20,Diff in Sep-Oct,Total Nov-20,Diff in Oct-Nov,Total Dec-20
60,Florida,Alachua,"Alachua, Florida, US",0,0,0,632,632,6357,5725,...,55175,140131,66056,202872,62741,290024,87152,353769,63745,92411
61,Florida,Baker,"Baker, Florida, US",0,0,0,58,58,550,492,...,5148,28887,22632,40493,11606,51374,10881,57339,5965,14602
62,Florida,Bay,"Bay, Florida, US",0,0,0,36,36,1351,1315,...,49181,145756,91073,172265,26509,199748,27483,230240,30492,62631
63,Florida,Bradford,"Bradford, Florida, US",0,0,0,12,12,901,889,...,3551,17101,11756,28725,11624,36921,8196,39598,2677,10146
64,Florida,Brevard,"Brevard, Florida, US",0,0,0,200,200,5308,5108,...,94500,199982,82016,244389,44407,319679,75290,410162,90483,114157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Florida,Union,"Union, Florida, US",0,0,0,1,1,76,75,...,3043,13498,9211,24227,10729,32917,8690,35814,2897,8743
125,Florida,Volusia,"Volusia, Florida, US",0,0,0,445,445,8690,8245,...,107019,258113,117252,307488,49375,367276,59788,434636,67360,119579
126,Florida,Wakulla,"Wakulla, Florida, US",0,0,0,2,2,372,370,...,6987,23682,15521,31064,7382,38240,7176,44236,5996,11872
127,Florida,Walton,"Walton, Florida, US",0,0,0,132,132,1006,874,...,16756,45600,24009,54995,9395,68218,13223,96188,27970,26840
128,Florida,Washington,"Washington, Florida, US",0,0,0,5,5,183,178,...,5465,27362,19172,31473,4111,35824,4351,41522,5698,10979

In [17]:
#Drop the Total Amounts Per Month
fl_df = fl_df.drop(columns=['Total Jan-20','Total Feb-20','Total Mar-20','Total Apr-20','Total May-20','Total Jun-20','Total Jul-20','Total Aug-20','Total Sep-20','Total Oct-20','Total Nov-20','Total Dec-20'])
fl_df

,Province_State,County,Combined_Key,Diff in Jan-Feb,Diff in Feb-Mar,Diff in Mar-Apr,Diff in Apr-May,Diff in May-Jun,Diff in Jun-Jul,Diff in Jul-Aug,Diff in Aug-Sep,Diff in Sep-Oct,Diff in Oct-Nov
60,Florida,Alachua,"Alachua, Florida, US",0,632,5725,16631,0,55175,66056,62741,87152,63745
61,Florida,Baker,"Baker, Florida, US",0,58,492,1338,0,5148,22632,11606,10881,5965
62,Florida,Bay,"Bay, Florida, US",0,36,1315,3967,184,49181,91073,26509,27483,30492
63,Florida,Bradford,"Bradford, Florida, US",0,12,889,2425,0,3551,11756,11624,8196,2677
64,Florida,Brevard,"Brevard, Florida, US",0,200,5108,16403,1755,94500,82016,44407,75290,90483
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Florida,Union,"Union, Florida, US",0,1,75,634,534,3043,9211,10729,8690,2897
125,Florida,Volusia,"Volusia, Florida, US",0,445,8245,27316,0,107019,117252,49375,59788,67360
126,Florida,Wakulla,"Wakulla, Florida, US",0,2,370,1310,0,6987,15521,7382,7176,5996
127,Florida,Walton,"Walton, Florida, US",0,132,874,3460,369,16756,24009,9395,13223,27970
128,Florida,Washington,"Washington, Florida, US",0,5,178,892,1650,5465,19172,4111,4351,5698

In [31]:
#Difference In Covid Cases/Month for Florida
cleaned_covid_data_FL = fl_df.rename(columns={'Diff in Jan-Feb':'01/31/2020','Diff in Feb-Mar':'02/28/2020','Diff in Mar-Apr':'03/31/2020','Diff in Apr-May':'04/30/2020','Diff in May-Jun':'05/31/2020','Diff in Jun-Jul':'06/30/2020','Diff in Jul-Aug':'07/31/2020','Diff in Aug-Sep':'08/31/2020','Diff in Sep-Oct':'09/30/2020','Diff in Oct-Nov':'10/31/2020'})
cleaned_covid_data_FL

,Province_State,County,Combined_Key,01/31/2020,02/28/2020,03/31/2020,04/30/2020,05/31/2020,06/30/2020,07/31/2020,08/31/2020,09/30/2020,10/31/2020
60,Florida,Alachua,"Alachua, Florida, US",0,632,5725,16631,0,55175,66056,62741,87152,63745
61,Florida,Baker,"Baker, Florida, US",0,58,492,1338,0,5148,22632,11606,10881,5965
62,Florida,Bay,"Bay, Florida, US",0,36,1315,3967,184,49181,91073,26509,27483,30492
63,Florida,Bradford,"Bradford, Florida, US",0,12,889,2425,0,3551,11756,11624,8196,2677
64,Florida,Brevard,"Brevard, Florida, US",0,200,5108,16403,1755,94500,82016,44407,75290,90483
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Florida,Union,"Union, Florida, US",0,1,75,634,534,3043,9211,10729,8690,2897
125,Florida,Volusia,"Volusia, Florida, US",0,445,8245,27316,0,107019,117252,49375,59788,67360
126,Florida,Wakulla,"Wakulla, Florida, US",0,2,370,1310,0,6987,15521,7382,7176,5996
127,Florida,Walton,"Walton, Florida, US",0,132,874,3460,369,16756,24009,9395,13223,27970
128,Florida,Washington,"Washington, Florida, US",0,5,178,892,1650,5465,19172,4111,4351,5698

In [33]:
#Save to csv file
cleaned_covid_data_FL.to_csv(r'C:\Users\Conle\Desktop\Data_Bootcamp\Final Project\cleaned_covid_data_FL.csv', index = False)

In [34]:
df = pd.read_csv("Difference_by_Month.csv") 
df.head()

,Province_State,County,Combined_Key,Total Jan-20,Total Feb-20,Diff in Jan-Feb,Total Mar-20,Diff in Feb-Mar,Total Apr-20,Diff in Mar-Apr,...,Diff in Jun-Jul,Total Aug-20,Diff in Jul-Aug,Total Sep-20,Diff in Aug-Sep,Total Oct-20,Diff in Sep-Oct,Total Nov-20,Diff in Oct-Nov,Total Dec-20
0,California,Alameda,"Alameda, California, US",0,0,0,2224,2224,31967,29743,...,131197,464235,196693,603302,139067,699352,96050,790272,90920,220615
1,California,Alpine,"Alpine, California, US",0,0,0,0,0,48,48,...,2,62,0,60,0,99,39,965,866,382
2,California,Amador,"Amador, California, US",0,0,0,19,19,198,179,...,1269,6610,4934,8579,1969,9679,1100,12723,3044,5804
3,California,Butte,"Butte, California, US",0,0,0,42,42,466,424,...,12954,43338,27578,78062,34724,92980,14918,104902,11922,30291
4,California,Calaveras,"Calaveras, California, US",0,0,0,48,48,321,273,...,1705,5407,2960,8840,3433,10352,1512,12110,1758,3944

In [35]:
#Locate California Covid Cases Only
ca_df = df.loc[df["Province_State"]=="California"]
ca_df

,Province_State,County,Combined_Key,Total Jan-20,Total Feb-20,Diff in Jan-Feb,Total Mar-20,Diff in Feb-Mar,Total Apr-20,Diff in Mar-Apr,...,Diff in Jun-Jul,Total Aug-20,Diff in Jul-Aug,Total Sep-20,Diff in Aug-Sep,Total Oct-20,Diff in Sep-Oct,Total Nov-20,Diff in Oct-Nov,Total Dec-20
0,California,Alameda,"Alameda, California, US",0,0,0,2224,2224,31967,29743,...,131197,464235,196693,603302,139067,699352,96050,790272,90920,220615
1,California,Alpine,"Alpine, California, US",0,0,0,0,0,48,48,...,2,62,0,60,0,99,39,965,866,382
2,California,Amador,"Amador, California, US",0,0,0,19,19,198,179,...,1269,6610,4934,8579,1969,9679,1100,12723,3044,5804
3,California,Butte,"Butte, California, US",0,0,0,42,42,466,424,...,12954,43338,27578,78062,34724,92980,14918,104902,11922,30291
4,California,Calaveras,"Calaveras, California, US",0,0,0,48,48,321,273,...,1705,5407,2960,8840,3433,10352,1512,12110,1758,3944
5,California,Colusa,"Colusa, California, US",0,0,0,4,4,84,80,...,4994,12365,7044,14915,2550,16901,1986,18563,1662,5453
6,California,Contra Costa,"Contra Costa, California, US",0,0,0,1734,1734,19806,18072,...,103413,339035,172782,462367,123332,557087,94720,639395,82308,179067
7,California,Del Norte,"Del Norte, California, US",0,0,0,0,0,60,60,...,677,3301,1189,3951,650,5209,1258,7240,2031,2704
8,California,El Dorado,"El Dorado, California, US",0,0,0,70,70,1061,991,...,8187,25330,13355,31506,6176,39393,7887,52989,13596,19585
9,California,Fresno,"Fresno, California, US",0,0,0,290,290,8528,8238,...,205446,621353,326605,815769,194416,926360,110591,1033839,107479,278265
10,California,Glenn,"Glenn, California, US",0,0,0,4,4,110,106,...,5058,12486,6148,15856,3370,19764,3908,23618,3854,7082
11,California,Humboldt,"Humboldt, California, US",0,9,9,127,118,1590,1463,...,2214,9679,4123,13833,4154,16870,3037,20891,4021,7005
12,California,Imperial,"Imperial, California, US",0,0,0,181,181,4554,4373,...,129139,312319,58554,341361,29042,385739,44378,431137,45398,116049
13,California,Inyo,"Inyo, California, US",0,0,0,35,35,482,447,...,460,3866,2684,5559,1693,6585,1026,7944,1359,2240
14,California,Kern,"Kern, California, US",0,0,0,362,362,15632,15270,...,186991,793343,503707,925991,132648,1029743,103752,1112729,82986,304128
15,California,Kings,"Kings, California, US",0,0,0,9,9,785,776,...,45017,163117,63109,213526,50409,251428,37902,288088,36660,81771
16,California,Lake,"Lake, California, US",0,0,0,0,0,122,122,...,3052,8204,4080,13116,4912,20037,6921,23979,3942,7055
17,California,Lassen,"Lassen, California, US",0,0,0,0,0,0,0,...,11690,21159,8105,21884,725,23436,1552,35264,11828,16180
18,California,Los Angeles,"Los Angeles, California, US",6,29,23,15442,15413,376690,361248,...,2232033,6795166,2265726,7694092,898926,8928603,1234511,10389207,1460604,3022184
19,California,Madera,"Madera, California, US",0,0,0,119,119,1129,1010,...,27756,89683,54053,126731,37048,150377,23646,167012,16635,45888
20,California,Marin,"Marin, California, US",0,0,0,779,779,6033,5254,...,89614,174532,54987,194672,20140,215445,20773,222108,6663,55454
21,California,Mariposa,"Mariposa, California, US",0,0,0,0,0,5,5,...,595,2004,859,2236,232,2410,174,2966,556,1060
22,California,Mendocino,"Mendocino, California, US",0,0,0,26,26,203,177,...,3835,16052,10737,24576,8524,33228,8652,39556,6328,11707
23,California,Merced,"Merced, California, US",0,0,0,44,44,2134,2090,...,58337,198705,124679,257453,58748,287912,30459,317206,29294,88215
24,California,Modoc,"Modoc, California, US",0,0,0,0,0,0,0,...,6,160,154,668,508,942,274,2812,1870,1173
25,California,Mono,"Mono, California, US",0,0,0,63,63,720,657,...,1157,4879,2579,4905,26,5410,505,12813,7403,4078
26,California,Monterey,"Monterey, California, US",0,0,0,285,285,3671,3386,...,63080,193912,99757,272558,78646,337728,65170,394730,57002,115194
27,California,Napa,"Napa, California, US",0,0,0,68,68,1287,1219,...,12088,37060,19032,47276,10216,57611,10335,75531,17920,23514
28,California,Nevada,"Nevada, California, US",0,0,0,93,93,1130,1037,...,4100,11585,5416,14836,3251,18056,3220,26844,8788,10655
29,California,Orange,"Orange, California, US",6,29,23,3275,3246,46245,42970,...,546678,1334489,509588,1538538,204049,1759162,220624,2004363,245201,585007
30,California,Out of CA,"Out of CA, California, US",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,California,Placer,"Placer, California, US",0,0,0,449,449,4170,3721,...,26409,77508,38511,100668,23160,121551,20883,161693,40142,50920
32,California,Plumas,"Plumas, California, US",0,0,0,0,0,103,103,...,493,1164,512,1425,261,1818,393,4282,2464,1747
33,California,Riverside,"Riverside, California, US",0,0,0,1674,1674,65903,64229,...,500526,1410824,556087,1682397,271573,1970813,288416,2297622,326809,652785
34,California,Sacramento,"Sacramento, California, US",0,12,12,1790,1778,24902,23112,...,142577,424690,222410,616380,191690,753032,136652,928148,175116,282337
35,California,San Benito,"San Benito, California, US",0,54,54,159,105,1290,1131,...,8543,26224,13385,37587,11363,43466,5879,49174,5708,14415
36,California,San Bernardino,"San Bernardino, California, US",0,0,0,629,629,32550,31921,...,434796,1253793,573753,1543348,289555,1850228,306880,2317346,467118,709263
37,California,San Diego,"San Diego, California, US",0,36,36,4041,4005,65244,61203,...,376891,1061637,383464,1296786,235149,1609265,312479,2000026,390761,619190
38,California,San Francisco,"San Francisco, California, US",0,0,0,3010,3010,32912,29902,...,62541,253537,100900,313703,60166,366507,52804,414018,47511,114122
39,California,San Joaquin,"San Joaquin, California, US",0,0,0,949,949,11463,10514,...,179436,451088,213341,579727,128639,656068,76341,713559,57491,190474
40,California,San Luis Obispo,"San Luis Obispo, California, US",0,0,0,604,604,4392,3788,...,24555,74948,38969,98719,23771,122597,23878,155229,32632,45379
41,California,San Mateo,"San Mateo, California, US",0,0,0,2814,2814,26301,23487,...,55109,214129,79849,276125,61996,332267,56142,379405,47138,106764
42,California,Santa Barbara,"Santa Barbara, California, US",0,0,0,429,429,9989,9560,...,76044,224074,83087,261060,36986,296189,35129,317349,21160,83104
43,California,Santa Clara,"Santa Clara, California, US",1,57,56,7196,7139,57316,50120,...,119963,432320,211414,590499,158179,716267,125768,868721,152454,263797
44,California,Santa Cruz,"Santa Cruz, California, US",0,0,0,412,412,3218,2806,...,13419,44883,23212,63095,18212,82343,19248,106262,23919,33863
45,California,Shasta,"Shasta, California, US",0,0,0,44,44,753,709,...,5123,15003,7921,20386,5383,49106,28720,101577,52471,38141
46,California,Sierra,"Sierra, California, US",0,0,0,0,0,0,0,...,5,150,115,180,30,186,6,380,194,164
47,California,Siskiyou,"Siskiyou, California, US",0,0,0,28,28,164,136,...,910,3349,1896,4642,1293,5750,1108,12370,6620,5321
48,California,Solano,"Solano, California, US",0,0,0,371,371,4748,4377,...,52310,142686,66946,179565,36879,217151,37586,268331,51180,78793
49,California,Sonoma,"Sonoma, California, US",0,0,0,513,513,5356,4843,...,37105,134287,73443,204017,69730,269913,65896,328733,58820,90605
50,California,Stanislaus,"Stanislaus, California, US",0,0,0,218,218,5426,5208,...,132175,367089,194895,478292,111203,534071,55779,587244,53173,163444
51,California,Sutter,"Sutter, California, US",0,0,0,28,28,851,823,...,11366,33961,19716,47562,13601,55891,8329,72565,16674,26606
52,California,Tehama,"Tehama, California, US",0,0,0,0,0,27,27,...,3355,10047,5761,14686,4639,23414,8728,37892,14478,12942
53,California,Trinity,"Trinity, California, US",0,0,0,0,0,0,0,...,22,238,160,438,200,729,291,2549,1820,1237
54,California,Tulare,"Tulare, California, US",0,0,0,271,271,9973,9702,...,120212,372516,167462,458065,85549,528378,70313,574235,45857,154237
55,California,Tuolumne,"Tuolumne, California, US",0,0,0,2,2,64,62,...,2311,5061,2402,6369,1308,7766,1397,17080,9314,8066
56,California,Unassigned,"Unassigned, California, US",0,0,0,13,13,285,272,...,0,0,0,0,0,0,0,0,0,0
57,California,Ventura,"Ventura, California, US",0,0,0,885,885,11711,10826,...,102530,282953,127548,358064,75111,426459,68395,502856,76397,151444
58,California,Yolo,"Yolo, California, US",0,0,0,164,164,3269,3105,...,23096,61470,29260,80202,18732,94343,14141,117554,23211,36359
59,California,Yuba,"Yuba, California, US",0,0,0,30,30,451,421,...,6449,22635,14949,32131,9496,38897,6766,48889,9992,16255

In [36]:
#Drop Total Number Columns
ca_df = ca_df.drop(columns=['Total Jan-20','Total Feb-20','Total Mar-20','Total Apr-20','Total May-20','Total Jun-20','Total Jul-20','Total Aug-20','Total Sep-20','Total Oct-20','Total Nov-20','Total Dec-20'])
ca_df

,Province_State,County,Combined_Key,Diff in Jan-Feb,Diff in Feb-Mar,Diff in Mar-Apr,Diff in Apr-May,Diff in May-Jun,Diff in Jun-Jul,Diff in Jul-Aug,Diff in Aug-Sep,Diff in Sep-Oct,Diff in Oct-Nov
0,California,Alameda,"Alameda, California, US",0,2224,29743,106570,0,131197,196693,139067,96050,90920
1,California,Alpine,"Alpine, California, US",0,0,48,110,0,2,0,0,39,866
2,California,Amador,"Amador, California, US",0,19,179,488,0,1269,4934,1969,1100,3044
3,California,Butte,"Butte, California, US",0,42,424,1285,1055,12954,27578,34724,14918,11922
4,California,Calaveras,"Calaveras, California, US",0,48,273,735,0,1705,2960,3433,1512,1758
5,California,Colusa,"Colusa, California, US",0,4,80,199,44,4994,7044,2550,1986,1662
6,California,Contra Costa,"Contra Costa, California, US",0,1734,18072,55634,0,103413,172782,123332,94720,82308
7,California,Del Norte,"Del Norte, California, US",0,0,60,532,843,677,1189,650,1258,2031
8,California,El Dorado,"El Dorado, California, US",0,70,991,3069,0,8187,13355,6176,7887,13596
9,California,Fresno,"Fresno, California, US",0,290,8238,43862,36912,205446,326605,194416,110591,107479
10,California,Glenn,"Glenn, California, US",0,4,106,395,775,5058,6148,3370,3908,3854
11,California,Humboldt,"Humboldt, California, US",9,118,1463,3905,0,2214,4123,4154,3037,4021
12,California,Imperial,"Imperial, California, US",0,181,4373,31193,88879,129139,58554,29042,44378,45398
13,California,Inyo,"Inyo, California, US",0,35,447,1074,0,460,2684,1693,1026,1359
14,California,Kern,"Kern, California, US",0,362,15270,62013,25000,186991,503707,132648,103752,82986
15,California,Kings,"Kings, California, US",0,9,776,13403,40803,45017,63109,50409,37902,36660
16,California,Lake,"Lake, California, US",0,0,122,468,482,3052,4080,4912,6921,3942
17,California,Lassen,"Lassen, California, US",0,0,0,36,1328,11690,8105,725,1552,11828
18,California,Los Angeles,"Los Angeles, California, US",23,15413,361248,1550221,370496,2232033,2265726,898926,1234511,1460604
19,California,Madera,"Madera, California, US",0,119,1010,3392,3353,27756,54053,37048,23646,16635
20,California,Marin,"Marin, California, US",0,779,5254,15969,7929,89614,54987,20140,20773,6663
21,California,Mariposa,"Mariposa, California, US",0,0,5,468,77,595,859,232,174,556
22,California,Mendocino,"Mendocino, California, US",0,26,177,714,563,3835,10737,8524,8652,6328
23,California,Merced,"Merced, California, US",0,44,2090,8515,5040,58337,124679,58748,30459,29294
24,California,Modoc,"Modoc, California, US",0,0,0,0,0,6,154,508,274,1870
25,California,Mono,"Mono, California, US",0,63,657,1704,0,1157,2579,26,505,7403
26,California,Monterey,"Monterey, California, US",0,285,3386,14040,13364,63080,99757,78646,65170,57002
27,California,Napa,"Napa, California, US",0,68,1219,4058,595,12088,19032,10216,10335,17920
28,California,Nevada,"Nevada, California, US",0,93,1037,2401,0,4100,5416,3251,3220,8788
29,California,Orange,"Orange, California, US",23,3246,42970,178342,53636,546678,509588,204049,220624,245201
30,California,Out of CA,"Out of CA, California, US",0,0,0,0,0,0,0,0,0,0
31,California,Placer,"Placer, California, US",0,449,3721,9645,0,26409,38511,23160,20883,40142
32,California,Plumas,"Plumas, California, US",0,0,103,227,0,493,512,261,393,2464
33,California,Riverside,"Riverside, California, US",0,1674,64229,244201,44107,500526,556087,271573,288416,326809
34,California,Sacramento,"Sacramento, California, US",12,1778,23112,62987,0,142577,222410,191690,136652,175116
35,California,San Benito,"San Benito, California, US",54,105,1131,3252,0,8543,13385,11363,5879,5708
36,California,San Bernardino,"San Bernardino, California, US",0,629,31921,141492,71202,434796,573753,289555,306880,467118
37,California,San Diego,"San Diego, California, US",36,4005,61203,237586,0,376891,383464,235149,312479,390761
38,California,San Francisco,"San Francisco, California, US",0,3010,29902,97227,0,62541,100900,60166,52804,47511
39,California,San Joaquin,"San Joaquin, California, US",0,949,10514,32649,14199,179436,213341,128639,76341,57491
40,California,San Luis Obispo,"San Luis Obispo, California, US",0,604,3788,11718,0,24555,38969,23771,23878,32632
41,California,San Mateo,"San Mateo, California, US",0,2814,23487,76549,0,55109,79849,61996,56142,47138
42,California,Santa Barbara,"Santa Barbara, California, US",0,429,9560,48722,6232,76044,83087,36986,35129,21160
43,California,Santa Clara,"Santa Clara, California, US",56,7139,50120,133165,0,119963,211414,158179,125768,152454
44,California,Santa Cruz,"Santa Cruz, California, US",0,412,2806,8324,0,13419,23212,18212,19248,23919
45,California,Shasta,"Shasta, California, US",0,44,709,1793,0,5123,7921,5383,28720,52471
46,California,Sierra,"Sierra, California, US",0,0,0,10,20,5,115,30,6,194
47,California,Siskiyou,"Siskiyou, California, US",0,28,136,336,43,910,1896,1293,1108,6620
48,California,Solano,"Solano, California, US",0,371,4377,17172,1510,52310,66946,36879,37586,51180
49,California,Sonoma,"Sonoma, California, US",0,513,4843,17172,1211,37105,73443,69730,65896,58820
50,California,Stanislaus,"Stanislaus, California, US",0,218,5208,22569,12024,132175,194895,111203,55779,53173
51,California,Sutter,"Sutter, California, US",0,28,823,1993,35,11366,19716,13601,8329,16674
52,California,Tehama,"Tehama, California, US",0,0,27,89,815,3355,5761,4639,8728,14478
53,California,Trinity,"Trinity, California, US",0,0,0,25,31,22,160,200,291,1820
54,California,Tulare,"Tulare, California, US",0,271,9702,51633,23236,120212,167462,85549,70313,45857
55,California,Tuolumne,"Tuolumne, California, US",0,2,62,149,135,2311,2402,1308,1397,9314
56,California,Unassigned,"Unassigned, California, US",0,13,272,285,0,0,0,0,0,0
57,California,Ventura,"Ventura, California, US",0,885,10826,36464,4700,102530,127548,75111,68395,76397
58,California,Yolo,"Yolo, California, US",0,164,3105,8971,0,23096,29260,18732,14141,23211
59,California,Yuba,"Yuba, California, US",0,30,421,1206,0,6449,14949,9496,6766,9992

In [37]:
#Difference In Covid Cases/Month for California
cleaned_covid_data_CA = ca_df.rename(columns={'Diff in Jan-Feb':'01/31/2020','Diff in Feb-Mar':'02/28/2020','Diff in Mar-Apr':'03/31/2020','Diff in Apr-May':'04/30/2020','Diff in May-Jun':'05/31/2020','Diff in Jun-Jul':'06/30/2020','Diff in Jul-Aug':'07/31/2020','Diff in Aug-Sep':'08/31/2020','Diff in Sep-Oct':'09/30/2020','Diff in Oct-Nov':'10/31/2020'})
cleaned_covid_data_CA

,Province_State,County,Combined_Key,01/31/2020,02/28/2020,03/31/2020,04/30/2020,05/31/2020,06/30/2020,07/31/2020,08/31/2020,09/30/2020,10/31/2020
0,California,Alameda,"Alameda, California, US",0,2224,29743,106570,0,131197,196693,139067,96050,90920
1,California,Alpine,"Alpine, California, US",0,0,48,110,0,2,0,0,39,866
2,California,Amador,"Amador, California, US",0,19,179,488,0,1269,4934,1969,1100,3044
3,California,Butte,"Butte, California, US",0,42,424,1285,1055,12954,27578,34724,14918,11922
4,California,Calaveras,"Calaveras, California, US",0,48,273,735,0,1705,2960,3433,1512,1758
5,California,Colusa,"Colusa, California, US",0,4,80,199,44,4994,7044,2550,1986,1662
6,California,Contra Costa,"Contra Costa, California, US",0,1734,18072,55634,0,103413,172782,123332,94720,82308
7,California,Del Norte,"Del Norte, California, US",0,0,60,532,843,677,1189,650,1258,2031
8,California,El Dorado,"El Dorado, California, US",0,70,991,3069,0,8187,13355,6176,7887,13596
9,California,Fresno,"Fresno, California, US",0,290,8238,43862,36912,205446,326605,194416,110591,107479
10,California,Glenn,"Glenn, California, US",0,4,106,395,775,5058,6148,3370,3908,3854
11,California,Humboldt,"Humboldt, California, US",9,118,1463,3905,0,2214,4123,4154,3037,4021
12,California,Imperial,"Imperial, California, US",0,181,4373,31193,88879,129139,58554,29042,44378,45398
13,California,Inyo,"Inyo, California, US",0,35,447,1074,0,460,2684,1693,1026,1359
14,California,Kern,"Kern, California, US",0,362,15270,62013,25000,186991,503707,132648,103752,82986
15,California,Kings,"Kings, California, US",0,9,776,13403,40803,45017,63109,50409,37902,36660
16,California,Lake,"Lake, California, US",0,0,122,468,482,3052,4080,4912,6921,3942
17,California,Lassen,"Lassen, California, US",0,0,0,36,1328,11690,8105,725,1552,11828
18,California,Los Angeles,"Los Angeles, California, US",23,15413,361248,1550221,370496,2232033,2265726,898926,1234511,1460604
19,California,Madera,"Madera, California, US",0,119,1010,3392,3353,27756,54053,37048,23646,16635
20,California,Marin,"Marin, California, US",0,779,5254,15969,7929,89614,54987,20140,20773,6663
21,California,Mariposa,"Mariposa, California, US",0,0,5,468,77,595,859,232,174,556
22,California,Mendocino,"Mendocino, California, US",0,26,177,714,563,3835,10737,8524,8652,6328
23,California,Merced,"Merced, California, US",0,44,2090,8515,5040,58337,124679,58748,30459,29294
24,California,Modoc,"Modoc, California, US",0,0,0,0,0,6,154,508,274,1870
25,California,Mono,"Mono, California, US",0,63,657,1704,0,1157,2579,26,505,7403
26,California,Monterey,"Monterey, California, US",0,285,3386,14040,13364,63080,99757,78646,65170,57002
27,California,Napa,"Napa, California, US",0,68,1219,4058,595,12088,19032,10216,10335,17920
28,California,Nevada,"Nevada, California, US",0,93,1037,2401,0,4100,5416,3251,3220,8788
29,California,Orange,"Orange, California, US",23,3246,42970,178342,53636,546678,509588,204049,220624,245201
30,California,Out of CA,"Out of CA, California, US",0,0,0,0,0,0,0,0,0,0
31,California,Placer,"Placer, California, US",0,449,3721,9645,0,26409,38511,23160,20883,40142
32,California,Plumas,"Plumas, California, US",0,0,103,227,0,493,512,261,393,2464
33,California,Riverside,"Riverside, California, US",0,1674,64229,244201,44107,500526,556087,271573,288416,326809
34,California,Sacramento,"Sacramento, California, US",12,1778,23112,62987,0,142577,222410,191690,136652,175116
35,California,San Benito,"San Benito, California, US",54,105,1131,3252,0,8543,13385,11363,5879,5708
36,California,San Bernardino,"San Bernardino, California, US",0,629,31921,141492,71202,434796,573753,289555,306880,467118
37,California,San Diego,"San Diego, California, US",36,4005,61203,237586,0,376891,383464,235149,312479,390761
38,California,San Francisco,"San Francisco, California, US",0,3010,29902,97227,0,62541,100900,60166,52804,47511
39,California,San Joaquin,"San Joaquin, California, US",0,949,10514,32649,14199,179436,213341,128639,76341,57491
40,California,San Luis Obispo,"San Luis Obispo, California, US",0,604,3788,11718,0,24555,38969,23771,23878,32632
41,California,San Mateo,"San Mateo, California, US",0,2814,23487,76549,0,55109,79849,61996,56142,47138
42,California,Santa Barbara,"Santa Barbara, California, US",0,429,9560,48722,6232,76044,83087,36986,35129,21160
43,California,Santa Clara,"Santa Clara, California, US",56,7139,50120,133165,0,119963,211414,158179,125768,152454
44,California,Santa Cruz,"Santa Cruz, California, US",0,412,2806,8324,0,13419,23212,18212,19248,23919
45,California,Shasta,"Shasta, California, US",0,44,709,1793,0,5123,7921,5383,28720,52471
46,California,Sierra,"Sierra, California, US",0,0,0,10,20,5,115,30,6,194
47,California,Siskiyou,"Siskiyou, California, US",0,28,136,336,43,910,1896,1293,1108,6620
48,California,Solano,"Solano, California, US",0,371,4377,17172,1510,52310,66946,36879,37586,51180
49,California,Sonoma,"Sonoma, California, US",0,513,4843,17172,1211,37105,73443,69730,65896,58820
50,California,Stanislaus,"Stanislaus, California, US",0,218,5208,22569,12024,132175,194895,111203,55779,53173
51,California,Sutter,"Sutter, California, US",0,28,823,1993,35,11366,19716,13601,8329,16674
52,California,Tehama,"Tehama, California, US",0,0,27,89,815,3355,5761,4639,8728,14478
53,California,Trinity,"Trinity, California, US",0,0,0,25,31,22,160,200,291,1820
54,California,Tulare,"Tulare, California, US",0,271,9702,51633,23236,120212,167462,85549,70313,45857
55,California,Tuolumne,"Tuolumne, California, US",0,2,62,149,135,2311,2402,1308,1397,9314
56,California,Unassigned,"Unassigned, California, US",0,13,272,285,0,0,0,0,0,0
57,California,Ventura,"Ventura, California, US",0,885,10826,36464,4700,102530,127548,75111,68395,76397
58,California,Yolo,"Yolo, California, US",0,164,3105,8971,0,23096,29260,18732,14141,23211
59,California,Yuba,"Yuba, California, US",0,30,421,1206,0,6449,14949,9496,6766,9992

In [38]:
#Save to csv file
cleaned_covid_data_CA.to_csv(r'C:\Users\Conle\Desktop\Data_Bootcamp\Final Project\cleaned_covid_data_CA.csv', index = False)